<!--The content below is only a placeholder and can be replaced.-->
<div>
  <header>
    <h1>{{title}}</h1>
    <p>Search:</p>

    <input #box (keyup)="getAllUsersByName(box.value)">

    <nav *ngIf="searching">
      <ul *ngFor="let user of foundUsers">
        <li>{{user.name}}</li>
      </ul>
    </nav>

    <div *ngIf="loggedInUser != null">
      <p>Welcome {{loggedInUser.name}}</p>
      <button (click)="logout()">Logout</button>
    </div>

  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>
