
<body>
<p>-----------------------------------------------------------------</p>
<div class="border" *ngIf="allDataFetched">
  <div class="border">

    <div class="border">
      <div class="border">
        <p>What's happening?</p>
        <textarea></textarea>
      </div>

      <div class="border">
        <p>Timeline</p>
      </div>
    </div>

    <div class="border">
      <div>
        <p>Your kweets</p>
      </div>

      <div>
        <p>Followers</p>
        <ul *ngFor="let user of followers">
          <li>{{user.id}}</li>
          <li>{{user.name}}</li>
        </ul>
      </div>

      <div>
        <p>Following</p>
        <ul *ngFor="let user of following">
          <li>{{user.id}}</li>
          <li>{{user.name}}</li>
        </ul>
      </div>
    </div>

  </div>
</div>
</body>
