<div>
<p>-------------------------------------------------------------------------------------</p>
  <div>
      <form (ngSubmit)="ButtonClicked()" [ngFormOptions]="{updateOn:'submit'}">
        <div class="form-horizontal">
          <label for="loginUN">Username: </label>
          <input id="loginUN" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter Username" required [(ngModel)]="username" name="username">
        </div>

        <p></p>

        <div class="form-horizontal">
          <label for="LoginPW">Password: </label>
          <input id="LoginPW" type="password" class="form-control"
                 placeholder="Enter Password" required [(ngModel)]="password" name="password">
        </div>

        <p></p>

        <div class="form-horizontal">
          <button type="submit" class="btn btn-outline-primary btn-lg btn-block" (click)="loginButton=true">Login</button>
          <button type="submit" class="btn btn-outline-primary btn-lg btn-block" (click)="registerButton=true">Register</button>
        </div>
      </form>
  </div>

</div>
